extends layout

block content
    div.container
        div.panel.panel-default
            div.panel-heading Login
            div.panel-body
                form(role='form', action='/login', method='POST')
                    div.form-group
                        label(for='username') Username:
                        input(name='username', type='text', class='form-control', id='username', placeholder='Username')
                    div.form-group
                        label(for='password') Password:
                        input(name='password', type='password', class='form-control', id='password', placeholder='Password')
                    div.form-group
                        button(type='submit', class='btn btn-default pull-left') Login
                        a(href='/register', class='btn btn-default pull-right') Register